---
import Card from '@/components/Card.astro'
import Layout from '@/layouts/templateRestaurants.astro'
import { restaurants, type IRestaurant } from '../mock/data'

const user = Astro.locals.user
console.log('user', user)
if (!user) {
  return Astro.redirect('/signin')
}

let fix_date = ''
let fix_time = ''

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData()
    fix_date = data.get('fix_date') as string
    fix_time = data.get('fix_time') as string
    console.log('fix_date', fix_date)
    console.log('fix_time', fix_time)
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<Layout>
  <div class="container mt-5">
    <h1>Hi, {user.username}!</h1>
    <p>Your user ID is {user.id}.</p>
    <form method="post" action="/api/logout">
      <button class="btn btn-danger">Sign out</button>
    </form>
    ตอนนี้เวลา {fix_date} {fix_time}
    <div class="row mt-4">
      {
        restaurants.map((restaurant: IRestaurant) => (
          <Card
            restaurant={restaurant}
            fix_date={fix_time}
            fix_time={fix_time}
          />
        ))
      }
    </div>
    <div class="row details-section">
      <div class="col-6 alert alert-light">
        <h5 class="text-center">Testing Time Tool</h5>
        <form id="reservation-form " method="POST">
          <div class="mb-3">
            <label for="fix_date" class="form-label"
              >Select Day of the Week</label
            >
            <select class="form-select" id="fix_date" name="fix_date" required>
              <option value="" disabled selected>Select a day</option>
              <option value="monday">Monday</option>
              <option value="tuesday">Tuesday</option>
              <option value="wednesday">Wednesday</option>
              <option value="thursday">Thursday</option>
              <option value="friday">Friday</option>
              <option value="saturday">Saturday</option>
              <option value="sunday">Sunday</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="time" class="form-label">กำหนดเวลา</label>
            <input
              type="time"
              class="form-control"
              id="time"
              name="fix_time"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</Layout>
