---
import { convertTo24HourFormat } from '@/pages/api/time'
import { restaurants, type IRestaurant } from '../mock/data'
import '@/styles/detailRestaurant.css'

const user = Astro.locals.user
if (!user) {
  return Astro.redirect('/signin')
}




const { id } = Astro.props
let data: IRestaurant = {
  id: 0,
  name: '',
  type: '',
  phone: '',
  time: {
    open: '',
    close: '',
  },
  day: '',
  image: '',
  detail: '',
}
console.log('id', id)
if (id == 1) {
  data = restaurants[0]
} else if (id == 2) {
  data = restaurants[1]
} else if (id == 3) {
  data = restaurants[2]
}

const status = getRestaurantStatus(
  data.day,
  data.time.open,
  data.time.close,
  true
)


const today = new Date().toISOString().split('T')[0]
const maxDate = new Date()
maxDate.setMonth(maxDate.getMonth() + 1) // Set max date to one year from today
const maxDateString = maxDate.toISOString().split('T')[0]
console.log("maxDateString",maxDateString)
const open = convertTo24HourFormat(data.time.open)
console.log("open",open)
const closed = convertTo24HourFormat(data.time.close)

---

<div class="container">
  <!-- Header Image -->
  <div class="row">
    <div class="col-12">
      <div class="card text-bg-dark">
        <img
          src="https://img-service-v3.hungryhub.com/pr:sharp/rs:fill:0:0:0/g:ce/aHR0cHM6Ly9pbWFnZXMuaHVuZ3J5aHViLmNvbS91cGxvYWRzL2Jhbm5lci9kZXNrdG9wX3JldGluYV92ZXJzaW9ucy8zNDMvaG9tZS1wYWdlLWRlc2t0b3BfMTdfYXByLmpwZw==.jpg"
          class="card-img"
          alt="..."
        />
        <div class="card-img-overlay">
          <h1 class="card-title">
            แอปจองมื้อพิเศษอันดับ 1 มากกว่า 1,500 ร้านอาหาร
          </h1>
          <!-- <p class="card-text">จองเลย</p> -->
          <!-- <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
        </div>
      </div>
      <!-- <img
        src="https://img-service-v3.hungryhub.com/pr:sharp/rs:fill:0:0:0/g:ce/aHR0cHM6Ly9pbWFnZXMuaHVuZ3J5aHViLmNvbS91cGxvYWRzL2Jhbm5lci9kZXNrdG9wX3JldGluYV92ZXJzaW9ucy8zNDMvaG9tZS1wYWdlLWRlc2t0b3BfMTdfYXByLmpwZw==.jpg"
        alt="Pattern Cozy Bar"
        class="img-fluid header-image"
      /> -->
    </div>
  </div>

  <!-- Information Section -->
  <div class="row details-section">
    <div class="col-md-6">
      <img src={data.image} alt="Map" class="img-fluid map-image" />
    </div>
    <div class="col-md-6">
      <div class="alert alert-light">
        <h5>{data.name}</h5>
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-calendar"></i> เปิดบริการ: {data.day}
          </li>
          <li>
            <i class="bi bi-clock"></i> เวลาเปิดตั้งแต่ {data.time.open} - {
              data.time.close
            }
          </li>
        </ul>
        <p>ร้านอาหาร: อิตาเลียน</p>
      </div>

      <div class="alert alert-light">
        <h5 class="text-center">Restaurant Reservation</h5>
        <form id="reservation-form" method="POST" action="/api/booking">
          <div class="mb-3">
            <label for="phone">Number of Guests</label>
            <input
              type="number"
              class="form-control"
              id="guests"
              name="guests"
              min="1"
              max="30"
              pattern="[0-9]{1}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Reservation Date</label>
            <input
              type="date"
              class="form-control"
              id="date"
              name="date"
              min={today}
              max={maxDateString}
              required
            />
          </div>
          <div class="mb-3">
            <label for="time" class="form-label">Reservation Time</label>
            <input
              type="time"
              class="form-control"
              id="time"
              name="time"
              required
              min={open}
              max={closed}
            />
          </div>
          <div class="mb-3">
            <input
              type="hidden"
              class="form-control"
              id="username"
              name="username"
              value={user.username}
              required
            />
          </div>

          <div class="mb-3">
            <input
              type="hidden"
              class="form-control"
              id="restaurant"
              name="restaurant"
              value={data.name}
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Details Section -->
  <div class="row details-section">
    <div class="col-12 alert alert-light">
      <h5>รายละเอียด</h5>
      <div set:html={data.detail} />
    </div>
  </div>
</div>

<script>
  document.forms[0].addEventListener('submit', async e => {
    e.preventDefault()
    const formElement = e.target as HTMLFormElement
    await fetch(formElement.action, {
      method: formElement.method,
      body: new FormData(formElement),
    })
    // window.location.href = "/signin";
    alert('คุณจองโต๊ะสำเร็จแล้ว')
  })
</script>
